:root{
    --color-barra-lateral: rgb(255,255,255);

    --color-texto: rgb(0,0,0);
    --color-texto-menu: rgb(134,135,144);

    --color-boton: rgb(0,0,0);
    --color-boton-texto: rgb(255,255,255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 5px solid red;
    height: 100vh;
    width: 100%;
    background-color: darkcyan;

}